<p id="notice"><%= notice %></p>

<h2>Listing Categories -Expenses</h2>
 <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
<table class="table table-bordered">
  <tr>
    <td><h2>Total Incomes($)</h2><h3><%= current_user.total_income %></h3></td>&nbsp&nbsp&nbsp
    <td><h2>Total Costs($)</h2><h3><%= current_user.total_cost %>&nbsp&nbsp&nbsp</h3></td>
    <td><h2>Total Balance($)</h2><h3><%= current_user.total_balance %>&nbsp&nbsp&nbsp</h3></td>
  </tr>
</table>

<table>

  <tr>
    <td>
      <%= form_tag "/categories/", method: :post do %>
        <%= label_tag :date %>
        <%= date_select("date", "on") %>
        <%= label_tag :CategoryName %>
        <%= text_field_tag :name%>
        <%= label_tag :amount %>
        <%= text_field_tag :amount %>
        <%= submit_tag "Insert Category and its Cost or Income" %></br>
      <% end %>
    </td>
  </tr>
  <tr>
   <% if current_user.total_balance <0 %>
     <div class="alert alert-warning" >
       <h><b>OHH MY GODD----NEGATIVE BALANCE!!!!!..:(</b></h>    
     </div>
   <% end %>
 </tr>
 <tr>
   <% if current_user.total_balance <=10 && current_user.total_balance >0 %>
     <div class="alert alert-warning" >
       <h><b>YOUR RUNNING OUT OF MONEY..:(</b></h>    
     </div>
   <% end %>
 </tr>
 <!--<tr>
   <% if current_user.total_balance ==0 %>
     <div class="alert alert-warning" >
       <h><b>ZERO BALANCE</b></h>    
     </div>
   <% end %>
 </tr>-->
</table>
</br>

<% if @category %>
  <% if @category.errors.size > 0 %>
    <div id="error_explanation">
      <%- if @category.errors %>
        <%= @category.errors.full_messages.join(", ") %>
      <% end %>
    </div>
  <% end %>
<% end %>
</br>
</br>
<H4>Current Category List</h4>
<table>
  <tbody>
    <%- @categories.each do |category| %>
      <%- category.incomes.each do |income| %>
        <tr>
          <td>
            <%- if category.date %>
              <%= category.date.strftime("%Y-%m-%d") %>
            <% else %>
              <%= income.created_at.strftime("%Y-%m-%d")  %>
            <% end %> &nbsp &nbsp
          </td>
          <td>
            <%= category.name %> &nbsp &nbsp
          </td>
	        <td>
	          <%= income.amount %>	&nbsp &nbsp
          </td>
          <td>
	          <%= link_to 'Income Delete ', "/categories/#{category.id}/incomes/#{income.id}", 
		          method: :delete, data: { confirm: 'Are you sure?' } %>
	        </br>
	        </td>
        </tr>
      <% end %>
      <%- category.costs.each do |cost| %>
        <tr>
          <td>
            <% if category.date %>
              <%= category.date.strftime("%Y-%m-%d") %>
            <% else %>
              <%= cost.created_at.strftime("%Y-%m-%d") %>
            <% end %> &nbsp &nbsp
          </td>
          <td>
            <%= category.name %> &nbsp &nbsp
          </td>
	        <td>
	          <%= cost.amount %> &nbsp &nbsp	
          </td>
          <td>
	          <%= link_to 'Cost Delete', "/categories/#{category.id}/costs/#{cost.id}", 
		          method: :delete, data: { confirm: 'Are you sure?' } %>
	        </br>
	        </td>
        </tr>
      <% end %>
	  <% end %>
  </tbody>
</table>
<br>
